.hero-section .about-text {
  color: white;

  position: absolute;
  left: 3.5rem;
  bottom: 5.5rem;
}

.contact-info {
  padding: 1.5rem 3.5rem 0;
  display: flex;
  column-gap: 2rem;
}

.contact-info p {
  line-height: 2;
}

.contact {
  padding: 2rem 3.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.5rem;
}

.GEO {
  width: 100%;
  height: 100%;

  border: 1px solid #eee;
}

.contact-form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  color: #555;
}

.form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-text {
  padding: 1rem 0.8rem;
  border: 1px solid #eee;
  font-size: 1rem;
  color: #555;
}

.input-message {
  padding: 0.5rem 0.8rem;
  border: 1px solid #eee;
  font-size: 1rem;
  color: #555;
}

.contact-form button {
  width: 16rem;
  height: 2.5rem;
  align-self: flex-end;
  background: none;

  border: 2px solid #eee;
}

.contact-form button:hover {
  cursor: pointer;
}

.contact .contact-form img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Mobile Responsive */
@media (max-width: 640px) {
  .hero-section .about-text {
    left: 1rem;
    bottom: 1rem;
  }

  .contact-info {
    padding: 1.5rem 0.8rem;
    gap: 1rem;
  }

  .contact {
    grid-template-columns: 1fr;
    padding: 1rem 0.8rem;
  }

  .GEO {
    height: 16rem;
    margin-bottom: 1.8rem;
  }

  .input-text {
    padding: 1rem 0.5rem;
  }

  .input-message {
    padding: 0.5rem 0.5rem;
  }

  .contact-form button {
    width: 100%;
    height: 2.5rem;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  .hero-section .about-text {
    left: 1rem;
    bottom: 1.5rem;
  }

  .contact-info {
    padding: 1.5rem 0.8rem;
    gap: 1rem;
  }
  .contact-info p {
    font-size: 1.2rem;
  }

  .contact {
    grid-template-columns: 1fr;
    padding: 1rem 0.8rem;
  }

  .GEO {
    height: 16rem;
    margin-bottom: 1.8rem;
  }

  .input-text {
    padding: 1rem 0.5rem;
  }

  .input-message {
    padding: 0.5rem 0.5rem;
  }

  .contact-form button {
    width: 100%;
    height: 2.5rem;
  }
}
